[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
gunicorn = "==19.8.1"
certifi = "==2018.4.16"
djangorestframework = "==3.6.3"
pipenv = "==2018.5.18"
pytz = "==2017.2"
virtualenv = "==16.0.0"
virtualenv-clone = "==0.3.0"
Django = "==1.11.3"

[requires]
python_version = "2.7"
