<div class="row">
	<div class="col-md-3">
		{{project-list
			projects= model.projects
			setProject = (action 'setProject')
		}}	
	</div>

	<div class="col-md-9">
		{{issue-list
			issues = selected_issues
		 }}
	</div>

</div>
