<div class="layout-row flex">
  <div class="flex-20 ">
	  {{project-list
		projects= model.projects
		setProject = (action 'setProject')
	}}
  </div>
  <div class="flex-80">
	{{issue-list
		issues = selected_issues
		projectId = select_project_id
	 }}
  </div>
</div>
