<div class="layout-row flex">
  <div class="flex-20 table-divider">
	  {{project-list
		projects= model.projects
		setProject = (action 'setProject')
	}}
  </div>
  <div class="flex-80">
	{{issue-list
		issues = selected_issues
		projectId = select_project_id
		selectIssue = selectIssue
		owner=owner
	 }}
  </div>
</div>
