<div class="dashboard row">
        <div class="col-sm-4 column">
            
            <ul class="list-group">
                {{#each issues as |post|}}
                        
                        {{#if (compare-string post.status 'open') }}
                            <li class="list-group-item">
                                {{issue-card post = post}}
                            </li>
                        {{/if}}
                
                {{/each}}
    
            </ul>
        </div>
        <div class="col-sm-4 column">
            {{#each issues as |post|}}
                        {{#if (compare-string post.status 'working') }}
                            <li class="list-group-item">
                                {{issue-card post = post}}
                            </li>
                        {{/if}}
                
            {{/each}}
            
        </div>
        <div class="col-sm-4 column">
            {{#each issues as |post|}}
                        {{#if (compare-string post.status 'closed') }}
                            <li class="list-group-item">
                                {{issue-card post = post}}
                            </li>
                        {{/if}}
                
            {{/each}}
            
        </div>
    </div>
