{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    <h2>Ticketing System</h2>
    <span class="flex"></span>
    {{#paper-button iconButton=true}}
      {{paper-icon "check-circle"}}
    {{/paper-button}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

