.padding-left-10{
	padding-left: 10px;
}
.float-right{
	margin-left: 50%;
}
.border-left{
	border-left: solid 1px #e8dfdf;
}
.border-top{
	border-top: solid 1px #e8dfdf
}
.pointer{
	cursor: pointer;
}
